        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/">Streamer</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                <a class="nav-link <%= path === '/dashboard' ? 'active' : '' %>" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link <%= path === '/cameras' ? 'active' : '' %>" href="/cameras">Cameras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= path === '/nodes' ? 'active' : '' %>" href="/nodes">Nodes</a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link <%= path === '/events' ? 'active' : '' %>" href="/events">Events</a>
              </li> -->

              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
              </li>

      </div>
        </nav>

        